.header{
  height: 92px;
  background-color: var(--dark-indigo);
  border-bottom: 1px solid #2b2c33;

  .header-menu-btn{
    display: none;
  }

  .mobile-menu{
    display: none;
    z-index: 100;
  }

  .container{
    display: flex;
    align-items: center;
    padding: 0 60px;
    justify-content: space-between;
    height: 100%;

    .logo{
      height: 64px;
      width: auto;
      margin-right: 16px;
    }

    .logo-container{
      display: flex;
      align-items: center;
      gap: 10px;

      button{
        text-wrap: nowrap;
        background: var(--dark-primary);
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 16px;
        color: var(--primary);
        background-color: var(--primary-dark);
        font-weight: 700;
        font-size: 16px;
        border-radius: 8px;
        min-width: 150px;
        gap: 4px;
        justify-content: center;

        img{
          filter: var(--filter-primary-blue)
        }
      }

      a{
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    nav{
      display: flex;
      align-items: center;
      color: #FAFAFA;

      a{
        text-decoration: none;
        font-size: 16px;
        display: flex;
        gap: 10px;
        margin: 0 12px;

        &:first-child{
          img{
            opacity: .5;
          }
        }


        &:hover{
          img{
            opacity: 1;
            filter: var(--filter-primary-blue);
          }
        }
      }

      .dropdown{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 12px;
        border-radius: 8px;
        border: 1px solid #242634;
        padding: 0 12px 0 20px;
        transition: 150ms;
        font-size: 14px;
        font-weight: 700;
        gap: 4px;
        position: relative;
        width: 74px;

        span:first-child{
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .dropdown-menu{
          position: absolute;
          top: 40px;
          background-color: #1c1d28;
          width: 74px;
          left: -1px;
          border: 1px solid #242634;
          border-top: none;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          transition: 150ms;


          div{
            text-align: left;
            width: 74px;
            padding: 4px 12px 4px 20px;
            text-transform: capitalize;

            &:hover{
              background-color: #21232f;
            }
          }
        }


        &:first-of-type{
          margin-right: 0;
        }

        &:hover{
            &{
              background-color: #21232f;
            }
        }

        img{
          opacity: .5;
        }
      }

      .current-el{
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
      }

      .reg-button{
        background-color: var(--primary);
        color: #fff;
        display: flex;
        align-items: center;
        font-weight: 700;
        border-radius: 8px;
        transition: 150ms;
        cursor: not-allowed;

        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 0 20px;
          margin: 0;
          gap: 4px;

          &:hover{
            img{
              opacity: 1;
              filter: none;
            }
          }

          img{
            opacity: 1;
          }
        }

        &:hover{
          background-color: #5391f5;
        }
      }
    }
  }

  @media screen and (max-width: 1366px){
    &{
      height: 60px;

      .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #171821;
        height: 100vh;
        width: 100vw;
        position: absolute;
        margin-top: 60px;
        padding: 16px;

        .mobile-footer{
          margin-top: 16px;
          text-align: center;
          color: #78818f;
          font-size: 12px;
          margin-bottom: 64px;

          p{
            margin-bottom: 4px;

            &:last-child{
              font-weight: 700;
              font-size: 14px;
            }
          }
        }

        .media-links{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          ul{
            display: flex;
            gap: 16px;
            align-items: center;

            li{
              margin: 0;
              opacity: 1;
              transition: 250ms;

              &:hover{
                opacity: 1;
              }
            }
          }
        }

        .dropdowns-container{
          display: flex;
          align-items: center;
          gap: 12px
        }

        .dropdown {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          border-radius: 8px;
          border: 1px solid #242634;
          background-color: #242634;
          padding: 0 12px 0 20px;
          transition: 150ms;
          font-size: 14px;
          font-weight: 700;
          gap: 4px;
          width: 100%;
          height: 40px;
          position: relative;


          img{
            opacity: .5;
          }

          span:first-child{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }

          .dropdown-menu{
            position: absolute;
            top: 32px;
            background-color: #242634;
            width: 100%;
            left: -1px;
            border: 1px solid #242634;
            border-top: none;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            transition: 150ms;


            div{
              text-align: left;
              width: 100%;
              padding: 4px 12px 4px 20px;
              text-transform: capitalize;

              &:hover{
                background-color: #21232f;
              }
            }
          }
        }


        ul{
          color: #fafafa;

          li{
            cursor: pointer;
            margin-bottom: 18px;
            color: #78818f;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 10px;

            img{
              filter: brightness(0) saturate(100%) invert(49%) sepia(8%) saturate(605%) hue-rotate(177deg) brightness(101%) contrast(88%);
            }

            a{
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }

      .close-menu{
        cursor: pointer;
        transform: rotate(45deg);
        margin-left: 36px;
      }

      .header-menu-btn{
        display: flex;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        flex-direction: column;
        height: 36px;
        justify-content: center;
        row-gap: 5px;
        width: 36px;
        margin-left: 32px;

        div{
          background: #FAFAFA;
          border-radius: 20px;
          height: 2px;
          width: 24px;
        }
      }
    }
    .container{
      padding: 0 16px;
      nav{
        a, .dropdown{
          display: none;
        }

        .reg-button{
          height: 36px;

          a{
            font-size: 12px;
            padding: 0 8px;
          }
        }
      }

      .logo-container{
        button{
          display: none;
        }

        .logo{
          height: 48px;
        }
      }
    }
  }
}